
body {
   
    background-color: #000000; 
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

a {
    color: #4da6ff;
}
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.article {
	width: 1200px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}
.story-header{
	font-family: "Georgia", sans-serif;
	.news-section {
		font-family: "Georgia", sans-serif;
		font-size: 35px;
		font-weight: bold;	
		background-color: #000; 
    color: #fff;                
    width: 100%; 

	}
	h1 {
		font-family: "Helvetica", serif;
		font-size: 46px;
		margin-bottom: 0px;
		font-weight: bold;
	}
}
.deck{
	font-size: 20px;
	font-family: "Franklin Light";
}
.publish-date{
	font-size: 14px;
	margin-top: 0px;
	color: #FFFFFF;
}

.story-body{
	font-family: Georgia, sans-serif;
	font-size: 20px;
	line-height: 32px;
	max-width: 700px;
}

.photo{
	width: 100%;
}
.photo-caption{
	color: #E0E1E4;
	font-size: 14px;
	margin-top: 0px;
	line-height: 18px;
	font-family: "Georgia", sans-serif;
}
.story-footer{
	max-width: 700px;
	border-top: 1px solid black ;
	h3{
		font-family: "Franklin Light", sans-serif;
		font-size: 16px;
		font-weight: normal;
	}
	h2{
		font-family: "Franklin Light", serif;
		font-size: 28px;
		margin-bottom: 0px;
		font-weight: normal;
	}
	p{
		color: #666666;
	font-size: 14px;
	margin-top: 0px;
	line-height: 18px;
	font-family: "Georgia", sans-serif;
	}
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;;
}

.divider-line {
	border-top: 1px solid white;
	border-right: 20px;
}

 



